<ion-header>
  <ion-toolbar color= "secondary">
    <ion-buttons slot = "start">
      <ion-back-button defaultHref = "/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Investor Register</ion-title>
    <!-- <ion-buttons slot = "primary">
      <ion-button (click) = "onCreateProfile()" [disabled]="!form.valid">
        <ion-icon name = "checkmark" slot = "icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup] = "form">
  <ion-grid>
    <ion-row>
      <ion-col size-md = "6" offset-md = "3">
          <ion-card>
              <ion-item>
                  <ion-label position="floating">First Name</ion-label>
                  <ion-input type = "text" formControlName = "fname"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Last Name</ion-label>
                    <ion-input type = "text" formControlName = "lname"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label position="floating">Email</ion-label>
                      <ion-input type = "email" formControlName = "email"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Password</ion-label>
                        <ion-input type = "password" formControlName = "password"></ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-label position="floating">Confirm Password</ion-label>
                          <ion-input type = "password" formControlName = "conpassword"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label position="floating">Credit card No</ion-label>
                          <ion-input type = "number" formControlName = "creditcard"></ion-input>
                        </ion-item>
                        <div margin-vertical text-center>
                        <ion-button expand="full" color = "primary" (click) = "onCreateProfile()" [disabled]="!form.valid" >Register</ion-button>  
                        <ion-button expand="full" color = "secondary" id = "login" href = "investor-login">Login</ion-button>  
                      </div>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
