<ion-header>
    <ion-toolbar color = "secondary">
      <ion-title>Edit Idea</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/ideapool"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  

  <ion-content>
          <ion-grid>
              <ion-row>
                <ion-col size="12" size-md = "8" offset-md= "4" text-left> 
                  <ion-item>
                  <ion-card>
                  <ion-card-header>
                      <ion-card-title>{{ idea.category }}</ion-card-title>
                  </ion-card-header>
                    <ion-card-content>
                      <p>{{ idea.title }}</p>
                      <p>{{ idea.content}}</p>
                    </ion-card-content>
                  </ion-card>
                </ion-item> 
                </ion-col>
              </ion-row>
            </ion-grid>
            
            <ion-button fill ="clear" color = "primary" (click)= "deleteIdea()">Delete</ion-button>  
            <ion-button fill ="clear" color = "primary" href=" /edit-idea-form">Edit</ion-button> 
    </ion-content>