<ion-header>
    <ion-toolbar color= "secondary">
      <ion-buttons slot= "start">
        <ion-back-button defaultHref ="/ideapool"></ion-back-button>
      </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="assets/icon/about.jpeg"></ion-img>
  <ion-text  color="secondary">
    The human society consists of people with different innovative ideas and with the passage of time those ideas had gifted valuable creations to the world. But have all those ideas come into light at present? The answer is probably no, because most of them are not provided with opportunities to express their ideas effectively.  
The Innovative Idea Publishing Platform provides the solution for this issue by providing a space for innovators to publish their ideas and gain value for them. Additionally, it helps them to find investors for their valuable projects and also the platform ensures the reliability towards the users. 
  </ion-text>
</ion-content>