<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Here you Go...!
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
          <ion-menu-toggle>
              <ion-item lines = "none" routerLink="/profile">
                <ion-icon name="contact" slot="start"></ion-icon>
                <ion-label>Profile</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
              <ion-item lines = "none" routerLink="/aboutus">
                <ion-icon name="information-circle" slot = "start"></ion-icon>
                <ion-label>About Us</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
              <ion-item lines = "none" routerLink="/profile">
                <ion-icon name="contacts" slot = "start"></ion-icon>
                <ion-label>Friends</ion-label>
              </ion-item>
          </ion-menu-toggle>
            <ion-menu-toggle>
                <ion-item lines = "none">
                    <ion-icon name="bookmark" slot = "start"></ion-icon>
                    <ion-label>Saved</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
              <ion-item lines = "none" (click)="onLogOut()" button>
                  <ion-icon name="exit" slot = "start"></ion-icon>
                  <ion-label>LogOut</ion-label>
              </ion-item>
          </ion-menu-toggle>
        </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
