<ion-header>
  <ion-toolbar color = "success">
      <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text color="secondary">
    <h1>INNOVATIVE IDEA PUBLISHING PLATFORM</h1>
    <ion-row>
      <ion-col size-md = "6" offset-md = "3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Light Up Your Idea</ion-card-subtitle>
            <ion-card-title>Grab Your Chance</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Our Platform Provides You To Publish Your Innovative Idea With It's Value..
            Join With Us ... ! Find Your Own Way To Success...!
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md = "6" offset-md = "3">
        <div margin-vertical text-center>
          <ion-button expand="block"   fill = "outline" color = "secondary" href=" /login">Login</ion-button>  
        <ion-button expand="block"  fill = "outline" color = "primary" href=" /register">Register</ion-button>  
        
      </div>
      </ion-col>
    </ion-row>
  