<ion-header>
    <ion-toolbar color= "secondary">
        <ion-buttons slot= "start">
            <ion-back-button defaultHref ="/home"></ion-back-button>
        </ion-buttons>
      <ion-title>Professional Login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-img src="assets/icon/professional.jpeg"></ion-img> 
    <form [formGroup] = "loginForm" (ngSubmit)= "onSubmit(loginForm)">
    <ion-grid>
      <ion-row>
        <ion-col size-md = "6" offset-md = "3">
            <ion-card>
                <ion-item>                 
                    <ion-input formControlName="email" type = "text" placeholder="Email"></ion-input>
                  </ion-item>
                  <div class = "error-messages">
                    <ng-container *ngFor = "let error of error_messages.email">
                      <div class = "error-message" *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                  <ion-item>
                      <ion-input formControlName="password" type = "password" placeholder= "Password"></ion-input>
                    </ion-item>
                    <div class = "error-messages">
                        <ng-container *ngFor = "let error of error_messages.password">
                          <div class = "error-message" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                            {{ error.message }}
                          </div>
                        </ng-container>
                      </div>
                    
                          <div margin-vertical text-center>
                          
                          <ion-button [disabled] = "!loginForm.valid" expand="block"  color = "primary" type="submit">Login</ion-button>  
                        </div>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  </ion-content>